# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


#Local Projects and folders that don't need to be shared
GccApplication/
GccApplication1/
GccApplication2/
GccApplication3/
GccApplication4/
GccApplication4/
GccBoardProject1/
BlinkyRuptyIrgendwas/
Blinkylauf_rupty/
BaudyLight1/
Profiles/
MCP_1/backup.txt
MCP_1/.vs/MCP_1/v14/.atsuo
MCP_1/.vs/MCP_1/v14/.atsuo
MCP_1/Debug/MCP_1.lss
MCP_1/Debug/MCP_1.srec
