# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


#Local Projects and folders that don't need to be shared
GccApplication/
GccApplication1/
GccApplication2/
GccApplication3/
GccApplication4/
GccApplication4/
GccBoardProject1/
BlinkyRuptyIrgendwas/
Blinkylauf_rupty/
BaudyLight1/
Profiles/
MCP_1/backup.txt
MCP_1/.vs/MCP_1/v14/.atsuo
MCP_1/.vs/MCP_1/v14/.atsuo
MCP_1/Debug/MCP_1.lss
MCP_1/Debug/MCP_1.srec
MCP_1/Debug/MCP_1.lss
MCP_1/Debug/MCP_1.srec
MCP_1/Debug/MCP_1.srec
MCP_1/Debug/MCP_1.lss
Profiles/temp/CurrentSettings-2015-12-17-7.vssettings
MCP_1/.vs/MCP_1/v14/.atsuo
*.vssettings
MCP_1/.vs/MCP_1/v14/.atsuo
TIMER1/uart_atmega168a.h
TIMER1/uart_atmega168a.c
TIMER1/TIMER1.cproj
TIMER1/TIMER1.componentinfo.xml
TIMER1/TIMER1.atsln
TIMER1/main.c
TIMER1/Debug/TIMER1.srec
TIMER1/Debug/TIMER1.lss
TIMER1/Debug/TIMER1.eep
TIMER1/Debug/Makefile
TIMER1/Debug/makedep.mk
TIMER1/.vs/TIMER1/v14/.atsuo
