# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


#Local Projects and folders that don't need to be shared
GccApplication/GccApplication/
GccApplication/GccApplication1/
GccApplication/GccApplication2/
GccApplication/GccApplication3/
GccApplication/GccApplication4/
GccApplication/GccApplication4/
GccApplication/GccBoardProject1/
GccApplication/BlinkyRuptyIrgendwas/
GccApplication/Blinkylauf_rupty/
GccApplication/BaudyLight1/
GccApplication/Profiles/

